@model IEnumerable<DataBase.Entities.Evaluation>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssessmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssessmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarkDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assessor.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parameter.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </td>
            </tr>
        }
    </tbody>
</table>
