@model EmployeeManagement.Models.SelectionViewModel
<form asp-action="Selection" method="post">
    <select asp-for="Id">
        @foreach (var item in ViewBag.Selection)
        {
            <option value="@item.Id">@item.SelectionName</option>
        }
    </select>
    <div class="form-group">
        <input type="submit" id="1" value="Select" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Login
            </th>
            <th>
                DepartmentName
            </th>
            <th>
                RoleName
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
        </tr>
        }
    </tbody>
</table>
<form asp-action="ExportToExcel" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="SelectionName" />
    <input type="hidden" asp-for="Parameters" />
    <div class="form-group">
        <input type="submit" value="Export" class="btn btn-primary" />
    </div>
</form>
