@model EmployeeManagement.Models.UserViewModel

@{
    ViewData["Title"] = "Create";
}
<h4>Create User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" value="@Model.Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" value="@Model.Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <h3>Роль</h3>
                <select asp-for="RoleId">
                    @foreach (var item in Model.Roles)
                    {
                        <option value="@item.Id">@item.RoleName</option>
                    }
                </select>
            </div>
            <div>
                <h3>Статус</h3>
                <select asp-for="StatusId">
                    @foreach (var item in Model.Statuses)
                    {
                        <option value="@item.Id">@item.StatusName</option>
                    }
                </select>
            </div>
            <div>
                <h3>Департамент</h3>
                <select asp-for="DepartmentId">
                    @foreach (var item in Model.Departments)
                    {
                        <option value="@item.Id">@item.DepartmentName</option>
                    }
                </select>
            </div>
            <div>
                <h3>Руководитель</h3>
                <select asp-for="SupervisorId">
                    @foreach (var item in Model.Users)
                    {
                        <option value="@item.Id"> @item.Login @item.Department.DepartmentName @item.Role.RoleName
                            @*@if (item.RoleId == 4)
                            {
                                ($"{item.Login} - тимлид, {item.Department.DepartmentName} - департамента").ToString();
                            }
                            else
                            {
                                ($"{item.Login} - глава департамента, {item.Department.DepartmentName} - департамента").ToString();
                            }*@

                    </option>
                }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
